# Assingment

QUESTIONS.
1. Find % of total applicants for each unique value of dependents
2. Find the average number of dependents per applicant
3. Find the %of applications approved for self-employed applicants
4. What is the % of rejections for married male applicants
5. Which property area has the maximum approval ratio
6. Find average dependents per income group
7. Create a simple predictive model to assess whether a loan application will be approved or rejected and provide the accuracy score

In [16]:
import numpy as np
import pandas as pd
import json

In [17]:
with open("loan_data.json") as datafile:
    data = json.load(datafile)
dataframe = pd.DataFrame(data)

In [4]:

print(dataframe.shape)
dataframe.head()

(511, 10)

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y

In [24]:
df  = dataframe.groupby(["Married","Property_Area"]).size()
df

Married  Property_Area
No       Rural             56
         Semiurban         68
         Urban             56
Yes      Rural             93
         Semiurban        129
         Urban            109
dtype: int64

In [15]:
arr = [1,0,0,0,1,0,1,1,1,0,0,0,1,0,0,0,0]
count  =0
maxm = 0
a = 0
for i in range(len(arr)):
    if arr[i]==0:
        count +=1

0

# 1.Find % of total applicants for each unique value of dependents

In [45]:
def UniquePercentValue(unique_value,unique_counts):#function compute and print percentage value for every unique_value
    percentage = (unique_counts/dataframe.shape[0])*100
    print("Percentage  of Dependent value ",unique_value," is = ",percentage)
    
unique_counts = dataframe.Dependents.value_counts()#value_counts() returns unique value and its count in a feature

unique_value  =dataframe.Dependents.unique()#unique() returns unique values of the mentioned feature/column

for i in range(unique_value.shape[0]):#loop iterate till no.of unique_values ,shape[0] returns the total no. of rows in a dataframe
    
    UniquePercentValue(unique_value[i],unique_counts[i])#UniquePercentValue fucntion called to compute percentage of every unique value and takes two argument unique_value of the feature and its respective count

Percentage  of Dependent value  0  is =  57.534246575342465
Percentage  of Dependent value  1  is =  17.22113502935421
Percentage  of Dependent value  2  is =  16.634050880626223
Percentage  of Dependent value  3+  is =  8.610567514677104

# 3.Find the %of applications approved for self-employed applicants

In [70]:
df = dataframe[(dataframe["Self_Employed"] == "Yes") & (dataframe["Application_Status"] == "Y") ]# filtered dataframe with respective mentioned columns values applicants who are self_employed and application approved
df1 = dataframe[dataframe.loc[:,"Self_Employed"] == "Yes"]# filtered dataframe with


percentage = (df.shape[0]/df1.shape[0])*100# computing percentage using no.of rows for filtered daatframes
print("%.2f applications approved of who are self-employed" %percentage)

65.71 applications approved of who are self-employed

# 4.What is the % of rejections for married male applicants

In [103]:
df = dataframe[(dataframe.loc[:,"Gender"] == "Male") & (dataframe.loc[:,"Married"] == "Yes") & (dataframe.loc[:,"Application_Status"] == "N")]#filtered dataframe with respective mentioned columns values applicants who are married male and application rejected
df1 = dataframe[(dataframe.loc[:,"Gender"] == "Male") & (dataframe.loc[:,"Married"] == "Yes")]


percentage = (df.shape[0]/df1.shape[0])*100
print("%.2f applications rejected of Male Married candidates" %percentage)
df2 = dataframe.groupby(["Gender"])
df2.get_group("Male")

28.43 applications rejected of Male Married candidates

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y
...,...,...,...,...,...,...,...,...,...,...
504,LP002964,Male,Yes,2,Not Graduate,No,1,Rural,low,Y
505,LP002974,Male,Yes,0,Graduate,No,1,Rural,low,Y
507,LP002979,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
508,LP002983,Male,Yes,1,Graduate,No,1,Urban,medium,Y
509,LP002984,Male,Yes,2,Graduate,No,1,Urban,medium,Y

# 5.Which property area has the maximum approval ratio

In [162]:
values = dataframe.Property_Area.unique()#unique values of property_area
#rint(values)
ratio = 0

for i in values:#iterate for all unique values of property area
    total_count = dataframe[dataframe.loc[:,"Property_Area"] == i].shape[0]#count of every unique values in property area
    total_approved_count = dataframe[(dataframe.loc[:,"Property_Area"] == i) & (dataframe.loc[:,"Application_Status"] == "Y")].shape[0]#total count of every unique value who's  application sattus is yes
    
    approved_ratio = total_approved_count/total_count
    if approved_ratio>ratio:# to get maximum ratio
        ratio = approved_ratio
        value =i# stores category name max ratio
print(value, " has maximum approval ratio with value of ",ratio)

Semiurban  has maximum approval ratio with value of  0.7766497461928934

# 6.Find average dependents per income group

Assumption: In dependents columns it one category is given '3+' to to get the numeric value in order to calculate the average dependents per income group I am assuming '3+' to 4

In [34]:

dataframe["Dependents"]  =dataframe["Dependents"].replace(['3+'],'4')# applying the above mentioned assumption
dataframe["Dependents"] = pd.to_numeric(dataframe["Dependents"])# given dtype of dependent column is'O' converted to int

In [35]:
df = dataframe.groupby(["Income"]).mean()#dataframe grouped on Unique Income values and aggregated on mean statistic
df.Dependents# avarage dependents per income group

Income
0    1.000000
1    0.703297
2    1.036269
Name: Dependents, dtype: float64

# 2.Find the average number of dependents per applicant¶

In [212]:
dataframe["Dependents"]  =dataframe["Dependents"].replace(['3+'],'4')# applying the above mentioned assumption
dataframe["Dependents"] = pd.to_numeric(dataframe["Dependents"])# given dtype of dependent column is'O' converted to int

dependents = dataframe.Dependents.value_counts()
unique = dataframe.Dependents.unique()
for i in range(len(unique)):
    total_dependents = total_dependents + unique[i]*dependents[unique[i]]


average = total_dependents/dataframe.shape[0]# average no. dependent per applicant
average

0.8551859099804305

# 7. Predicitve model

In [36]:
dataframe.shape# returns the shape of dataset
dataframe.head()

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,2,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,2,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,1,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,1,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,2,Y

In [37]:
dataframe.isna().sum().sum() # to count no.of missing values in the dataset

0

In [ ]:
print(dataframe.dtypes)# print datatype of all the features
print(dataframe.keys())#returns the list of all columns of the dataset

# label encoding and dummy variables

In [7]:
#  import label encoder
from sklearn import preprocessing
# lable_encoder object created

In [39]:

#importing one-hot encoder 
from sklearn.preprocessing import OneHotEncoder
# creating one hot encoder object
onehotencoder = OneHotEncoder()
label_encoder = preprocessing.LabelEncoder()
# encode labels in column 'Income'
dataframe["Income"] = label_encoder.fit_transform(dataframe["Income"])# it is an ordinal feature
# to get dummies
dataframe1 = pd.get_dummies(dataframe,columns = ["Gender",'Married','Education','Self_Employed','Property_Area'],drop_first = True)
# create n-1 dummy features with keep drop_first = True

In [ ]:
dataframe1.drop("Application_ID",axis = 1)# droping the application_id column as it has no significance

In [41]:
Y = dataframe1["Application_Status"]# splitting the target variable

In [61]:
dataframe2 =  dataframe1.drop("Application_ID",axis =1)
dataframe2

,Dependents,Credit_History,Income,Application_Status,Gender_Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0,1,2,Y,1,0,0,0,0,1
1,1,1,2,N,1,1,0,0,0,0
2,0,1,1,Y,1,1,0,1,0,1
3,0,1,1,Y,1,1,1,0,0,1
4,0,1,2,Y,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
506,0,1,1,Y,0,0,0,0,0,0
507,4,1,2,Y,1,1,0,0,0,0
508,1,1,2,Y,1,1,0,0,0,1
509,2,1,2,Y,1,1,0,0,0,1
510,0,0,2,N,0,0,0,1,1,0

In [62]:
X  =dataframe2.drop("Application_Status",axis = 1)
X

,Dependents,Credit_History,Income,Gender_Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0,1,2,1,0,0,0,0,1
1,1,1,2,1,1,0,0,0,0
2,0,1,1,1,1,0,1,0,1
3,0,1,1,1,1,1,0,0,1
4,0,1,2,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
506,0,1,1,0,0,0,0,0,0
507,4,1,2,1,1,0,0,0,0
508,1,1,2,1,1,0,0,0,1
509,2,1,2,1,1,0,0,0,1
510,0,0,2,0,0,0,1,1,0

In [63]:
Y = pd.get_dummies(Y,drop_first = True)# given target variable is of 'object' datatype hence mapping the catrgorical values to numerical values as follows .map({0:'N',1:"Y"})
Y

     Y
0    1
1    0
2    1
3    1
4    1
..  ..
506  1
507  1
508  1
509  1
510  0

[511 rows x 1 columns]

# Train-Test-Split

In [69]:
from sklearn.model_selection import train_test_split
x_train, x_cv, y_train, y_cv = train_test_split(X,Y, train_size =0.70,random_state=0)# split the data into test and train parts

# Model Training

In [148]:
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score
model = LogisticRegression(C = 1.0)# c is the inverse of the hyperparameter C = 1/lambda 
model.fit(x_train, y_train)

C:\Users\Asus\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [149]:
pred_cv = model.predict(x_cv)# predicted values by the logistic regression

In [150]:
print(accuracy_score(y_cv,pred_cv))# computing the accuracy score

0.7922077922077922

In [151]:
# from sklearn.metrics import f1_score
# f1_score(y_cv,pred_cv)

0.8608695652173913

# Hyperparameter Optimization Using GridSearch

In [144]:
from sklearn.model_selection import GridSearchCV
space = dict()
space['penalty'] = ['none', 'l1', 'l2', 'elasticnet']# optimizing with different regualizer
space['C'] = [1e-5, 1e-4, 1e-3, 1e-2, 1e-1, 1, 10, 100]# grid search with lower value 1e-5 to upper value 100

In [145]:
search = GridSearchCV(model, space, scoring='accuracy', n_jobs=-1)#grid search logistic regression model with the same data set

In [146]:
result = search.fit(X,Y)

C:\Users\Asus\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [147]:
# sumaarizing best accuracy score and respective hyperparameter
print('Best Score: %s' % result.best_score_)
print('Best Hyperparameters: %s' % result.best_params_)

Best Score: 0.8062250142775558
Best Hyperparameters: {'C': 0.1, 'penalty': 'l2'}